<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>To-Do-List</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

 
  </head>
  <body>
        <!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/todolists">To do list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/todolists/new">Create a list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
      <span class="navbar-text"> 
      <% if logged_in?%> 
      Logged in user: <%= current_user.email %>
      <% end %>
      </span>
    </div>
  </div>
</nav>

    <div class="wrapper">

     <% if flash[:alert] %>
        <div class="alert"><%= flash[:alert] %></div>
        <%elsif flash[:message]%>
        <div class="message"><%= flash[:message] %></div>
      <%elsif flash[:notice]%>
        <div class="notice"><%= flash[:notice] %></div>
        <% end %>

        <h1 class="title"> To-Do-List</h1>

        

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>ToDoList</strong></small>
      </footer>
    </div>

    <!-- Bootstrap jQuery Plugins, compiled and minified -->
  <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
